<div class="container">
    <% @snipets.each do |snipet| %>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= snipet.title %></h3>
                </div>
                <div class="panel-body">
                    <%= snipet.content %>
                </div>
            </div>
            </div>
    <% end %>
</div>
